@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class=" display-7 mt-4">Appartment Type</h6>
    @using (Html.BeginForm("AddPeople", "WaterAccounts", FormMethod.Post, new { id = "myForm" }))
    {
        <div class="d-flex justify-content-center gap-3 mt-4">
            <div class="flex flex-row">
                <input type="radio" class="" id="radio1" name="appartmentType" value="2BHK" checked>
                <label class="form-check-label" for="radio1">2BHK</label>
            </div>
            <div class="flex flex-row">
                <input type="radio" class="" id="radio2" name="appartmentType" value="3BHK">
                <label class="form-check-label" for="radio2">3BHK</label>
            </div>
        </div>
        <div class="mt-4">
            @Html.AntiForgeryToken()
            <div class="text-center">
                <h6 class="display-7">Ratio</h6>
                <input type="range" class="form-range" min="0" max="10" step="1" name="ratio">
                <input type="submit" value="Add account" />
            </div>
        </div>
    }
</div>