@{
    ViewData["Title"] = "Add People";
}
@using water_management_project_backend.Models;

<div class="text-center">
    <h6 class=" display-7 mt-4">Add People Page</h6>
    <div>
        <label for="people">People</label>
        <label for="userID">@ViewBag.id</label>
        <input id="people" placeholder="People to add">
        <button id="addPeople">Add People</button>
        @using (Html.BeginForm("PrintBill", "WaterAccounts", FormMethod.Post, new { id = "myForm" }))
        {
            <button type="submit">Print Bill</button>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $("#addPeople").click(AddPeople);

    function AddPeople() {
        var peopleToAdd = $("#people").val();
        var id = @ViewBag.id;

        var jsonRequest = { "id": id, "peopleToAdd": peopleToAdd };
        $.ajax({
            url: "https://localhost:7042/WaterAccounts/AddPeopleToAccount",
            type: 'PUT',
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data: jsonRequest,
            success: function (result) {
                alert(JSON.stringify(result.response));
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);

            }
        });
    };
</script>
