@{
    ViewBag.Title = "Bill Page";
}

<h2 class="d block text-center display-3 mt-4">Bill page</h2>
<div class="d-flex">
    <div class="flex w-50 flex-row l-4">
        <h4 class="display-7 text-center">Cost($)</h4>
    </div>
    <div class="flex w-50 flex-row l-4 ">
        <h4 class="display-7 text-center">Water Usage(L)</h4>
    </div>
</div>